/*** 
=============================================
    Product Page One Css
=============================================
***/
.shop-page-one {
    background-color: var(--thm-white);
    padding: 120px 0px 120px;
}

.shop-page-one-sidebar {
    position: relative;
    display: block;
    border-radius: 4px;
    background-color: var(--thm-gray-bg);
    padding: 25px 30px 35px;
}

.sidebar-search-box {
    position: relative;
    display: block;
}

.sidebar-search-box form {
    position: relative;
    display: block;
}

.sidebar-search-box form input[type="text"] {
    position: relative;
    display: block;
    border-radius: 0px;
    border: 0px solid transparent;
    border-bottom: 1px solid #d2d4db;
    background-color: transparent;
    width: 100%;
    height: 50px;
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-family: var(--thm-font);
    font-weight: 400;
    font-style: normal;
    padding-left: 0px;
    padding-right: 30px;
    transition: all 500ms ease;
}

.sidebar-search-box form input[type="text"]::-webkit-input-placeholder {
    color: var(--thm-body-font-color);
}

.sidebar-search-box form input[type="text"]:-moz-placeholder {
    color: var(--thm-body-font-color);
}

.sidebar-search-box form input[type="text"]::-moz-placeholder {
    color: var(--thm-body-font-color);
}

.sidebar-search-box form input[type="text"]:-ms-input-placeholder {
    color: var(--thm-body-font-color);
}

.sidebar-search-box form button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sidebar-search-box form button i {
    position: relative;
    display: inline-block;
    color: var(--thm-black);
    font-size: 20px;
    font-weight: 700;
}




.sidebar-category-box {
    position: relative;
    display: block;
    padding-top: 44px;
}

.sidebar-category-box .title {
    position: relative;
    display: block;
}

.sidebar-category-box .title h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.sidebar-category-box .list-item {
    position: relative;
    display: block;
    padding-top: 19px;
}

.sidebar-category-box .list-item li {
    position: relative;
    display: block;
}

.sidebar-category-box .list-item li+li {
    margin-top: 16px;
}

.sidebar-category-box .list-item li a {
    position: relative;
    display: inline-block;
    color: var(--thm-body-font-color);
    font-size: 16px;
    line-height: 25px;
    font-family: var(--thm-font-2);
    font-weight: 600;
    padding-left: 25px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.sidebar-category-box .list-item li a:hover {
    color: var(--thm-primary-color);
}

.sidebar-category-box .list-item li a::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #d2d4db;
    background-color: var(--thm-gray-bg);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.sidebar-category-box .list-item li a:hover::before {
    border-color: var(--thm-primary-color);
    background-color: var(--thm-primary-color);
}



.sidebar-price-range {
    position: relative;
    display: block;
    padding-top: 36px;
}

.sidebar-price-range .title {
    position: relative;
    display: block;
}

.sidebar-price-range .title h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.price-ranger {
    margin-top: 29px;
}

.price-ranger .ui-widget-content {
    background: #d2d4db;
    border: none;
    height: 4px;
    border-radius: 0px;
}

.price-ranger #slider-range {
    margin-left: 4px;
    margin-right: 6px;
    margin-top: 0;
}

.price-ranger .ui-widget-header {
    border: 0px solid #e0dfdf;
    background: var(--thm-primary-color);
}

.price-ranger .ui-slider-handle {
    position: absolute;
    top: -3px;
    width: 10px !important;
    height: 10px;
    border: none;
    background: var(--thm-primary-color);
    border-radius: 50%;
    margin-left: -5px;
    outline: medium none;
    cursor: pointer;
    z-index: 2;
}

.price-ranger .ranger-min-max-block {
    position: relative;
    overflow: hidden;
    margin-top: 17px;
    display: block;
}

.price-ranger .ranger-min-max-block .left {
    position: relative;
    display: block;
}

.price-ranger .ranger-min-max-block span {
    position: relative;
    float: left;
    color: var(--thm-black);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    font-family: var(--thm-font-2);
}

.price-ranger .ranger-min-max-block span.hipen {
    color: var(--thm-body-font-color);
}

.price-ranger .ranger-min-max-block input {
    display: inline-block;
}

.price-ranger .ranger-min-max-block input[type="text"] {
    position: relative;
    float: left;
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    border: none;
    width: 40px;
    padding: 0;
    font-family: var(--thm-font);
    background-color: transparent;
}

.price-ranger .ranger-min-max-block input[type='text'].max {}


.price-ranger .ranger-min-max-block .right {
    position: relative;
    display: inline-block;
    margin: 17px 0 0;
}

.price-ranger .ranger-min-max-block input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 7px 30px 7px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: var(--thm-secondary-color);


    color: var(--thm-white);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    font-family: var(--thm-font-2);
}

.price-ranger .ranger-min-max-block input[type="submit"]:hover {}



.sidebar-popular-products {
    position: relative;
    display: block;
    padding-top: 43px;
}

.sidebar-popular-products .title {
    position: relative;
    display: block;
}

.sidebar-popular-products .title h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.popular-products-list {
    position: relative;
    display: block;
    padding-top: 26px;
}

.popular-products-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #d2d4db;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.popular-products-list li:last-child {
    border-bottom: 0px solid transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.popular-products-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.popular-products-img img {
    width: 100%;
}

.popular-products-content {
    position: relative;
    display: block;
    padding-left: 20px;
    flex: 1;
    margin-top: -6px;
}

.popular-products-content h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.popular-products-content h3 a {
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.popular-products-content h3 a:hover {
    color: var(--thm-primary-color);
}

.popular-products-content h6 {
    color: #6a6b74;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}



.shop-page-one-content {
    position: relative;
    display: block;
}

.shop-page-top-info_inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -21px;
    padding-bottom: 20px;
    z-index: 5;
}

.shop-page-top-info_inner .left-box {
    position: relative;
    display: block;
}

.shop-page-top-info_inner .left-box p {
    margin: 0;
}

.shop-page-top-info_inner .right-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
}

.shop-page-top-info_inner .right-box .text {
    position: relative;
    display: block;
    width: 65px;
    text-align: left;
}

.shop-page-top-info_inner .right-box .text p {
    color: var(--thm-black);
    margin: 0;
}

.shop-page-top-info_inner .right-box .select-box {
    width: 125px;
    padding-left: 5px;
}

.shop-page-top-info_inner .right-box .nice-select {
    position: relative;
    display: block;
    height: 55px;
    line-height: 55px;
    background: transparent;
    border: 0px solid transparent !important;
    color: var(--thm-primary-color);
    font-family: var(--thm-font);
    font-size: 16px;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 0px;
}

.shop-page-top-info_inner .right-box .nice-select:after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #a0a3b1;
    border-right: 2px solid #a0a3b1;
    right: 3px;
    margin-top: 0px;
    top: 22px;
    z-index: 10;
}

.shop-page-top-info_inner .right-box .nice-select .list {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 0px 0 0px;
    margin-top: 10px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scale(1.0) translateY(-30px);
    -ms-transform: scale(1.0) translateY(-30px);
    transform: scale(1.0) translateY(-30px);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    height: 0;
    width: 200px;
    left: auto !important;
}

.shop-page-top-info_inner .right-box .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    height: auto;
}

.shop-page-top-info_inner .right-box .nice-select .option {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 40px;
    min-height: 40px;
}



.shop-page-one-single {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.shop-page-one-single-inner {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--thm-white);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 20px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1;
}

.shop-page-one-single:hover .shop-page-one-single-inner {
    transform: translateY(-55px);
}

.shop-page-one-single-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.shop-page-one-single-img img {
    width: 100%;
}

.shop-page-one-single-content {
    position: relative;
    display: block;
    padding: 19px 10px 0px;
}

.shop-page-one-single-title {
    position: relative;
    display: block;
}

.shop-page-one-single-title h6 {
    color: #a0a3b1;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.shop-page-one-single-title h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 3px;
}

.shop-page-one-single-title h3 a {
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.shop-page-one-single-title h3 a:hover {
    color: var(--thm-primary-color);
}

.shop-page-one-single-bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e3e4ea;
    padding-top: 25px;
    margin-top: 16px;
}

.shop-page-one-single-left {
    position: relative;
    display: block;
}

.shop-page-one-single-rating {
    position: relative;
    display: flex;
    align-items: center;
}

.shop-page-one-single-rating li {
    position: relative;
    display: block;
}

.shop-page-one-single-rating li+li {
    margin-left: 5px;
}

.shop-page-one-single-rating li .icon {
    position: relative;
    display: block;
    line-height: 0;
}

.shop-page-one-single-rating li .icon i {
    position: relative;
    display: inline-block;
    color: var(--thm-secondary-color);
    font-size: 15px;
}

.shop-page-one-single-price {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.shop-page-one-single-price h4 {
    color: var(--thm-primary-color);
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.shop-page-one-single-price h5 {
    color: #a0a3b1;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 5px;
}

.shop-page-one-single-right {
    position: relative;
    display: block;
}

.shop-page-one-single-right a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--thm-gray-bg);
    color: var(--thm-black);
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.shop-page-one-single-right a:hover {
    color: var(--thm-white);
    background-color: var(--thm-primary-color);
}

.shop-page-one-single-btn {
    position: absolute;
    left: 25px;
    bottom: 0;
    right: 25px;
    text-align: center;
    transform: translateY(20px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.shop-page-one-single:hover .shop-page-one-single-btn {
    opacity: 1;
    transform: translateY(0px);
}

.shop-page-one-single-btn .btn-one {
    color: var(--thm-black);
    line-height: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    justify-content: center;
}

.shop-page-one-single-btn .btn-one:hover {
    color: var(--thm-white);
}

.shop-page-one-single-btn .btn-one::after {
    background-color: #eeeff4;
}

.shop-page-one-single-btn .btn-one::before {
    background-color: var(--thm-primary-color);
}

.shop-page-one-content .styled-pagination {
    justify-content: flex-start;
    padding-top: 30px;
}




/*** 
==========================
    Cart Page One Css
==========================
***/
.cart-area {
    background-color: var(--thm-white);
    padding: 113px 0px 120px;
}

.cart-table-box {
    position: relative;
    display: block;
}

.cart-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 14px;
}

.cart-info .left {
    color: var(--thm-gray);
}

.cart-info .left span {
    color: var(--thm-black);
    font-weight: 500;
}

.cart-info .right {
    color: var(--thm-black);
    font-size: 16px;
    font-weight: 500;
}

.cart-info .right span {
    color: var(--thm-primary-color);
}

.cart-table-box .table-outer {
    position: relative;
    width: 100%;
    overflow-x: auto;
    border: 1px solid #e3e4ea;
    border-bottom: none;
    border-right: none;
    border-radius: 4px;
}

.cart-table-box .cart-table {
    min-width: 1024px;
    width: 100%;
}

.cart-table-box .cart-table .cart-header {
    position: relative;
    width: 100%;
    background: var(--thm-gray-bg);
    border-bottom: 1px solid #e3e4ea;
}

.cart-table-box .cart-table tbody {
    position: relative;
}

.cart-table-box .cart-table thead tr {}

.cart-table-box .cart-table thead tr th {
    color: var(--thm-black);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 160px;
    padding: 22px 40px;
    text-align: center;
    font-family: var(--thm-font-2);
    border-right: 1px solid #e3e4ea;
}

.cart-table-box .cart-table thead tr th.hide-me {
    display: table-column;
}

.cart-table-box .cart-table tbody tr {
    border-bottom: 1px solid #e3e4ea;
}



.cart-table-box .cart-table tbody tr td {
    min-width: 160px;
    padding: 40px 40px;
    border-right: 1px solid #e3e4ea;
}

.cart-table-box .cart-table thead tr th.prod-column {
    position: relative;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box {
    position: relative;
    min-height: 60px;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .prod-thumb {
    position: relative;
    width: 60px;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .prod-thumb::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -40px;
    bottom: -40px;
    width: 1px;
    background-color: var(--thm-border-color);
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .prod-thumb a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .prod-thumb a img {
    width: 100%;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .prod-thumb,
.cart-table-box .cart-table tbody tr .prod-column .column-box .title {
    display: table-cell;
    vertical-align: middle;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .title {
    padding-left: 70px;
}

.cart-table-box .cart-table tbody tr .prod-column .column-box .title h3 {
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: capitalize;
}


.cart-table-box .cart-table tbody tr .qty {}

.cart-table-box .cart-table tbody tr .qty .input-group.bootstrap-touchspin {
    position: relative;
    width: 70px;
    height: 50px;
    margin: 0 auto;
}

.cart-table-box .cart-table tbody tr .qty input.quantity-spinner.form-control {
    position: relative;
    display: block;
    padding: 0;
    width: 70px;
    height: 50px;
    flex: none;
    color: var(--thm-black);
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--thm-border-color);
    border-radius: var(--thm-border-radius);
    border-top-left-radius: var(--thm-border-radius) !important;
    border-bottom-left-radius: var(--thm-border-radius) !important;
    outline: none;
    margin: 0 auto;
    text-align: center;
    font-family: var(--thm-font-2);
    box-shadow: none;
    margin-left: 0 !important;
}

.cart-table-box .cart-table tbody tr .qty .bootstrap-touchspin .input-group-btn-vertical {
    display: none !important;
}

.cart-table-box .cart-table tbody tr td.price {
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: var(--thm-font);
}

.cart-table-box .cart-table tbody tr .sub-total {
    color: var(--thm-primary-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: var(--thm-font);
}



.cart-table-box .cart-table tbody tr td .remove {
    position: relative;
    display: block;
    text-align: center;
}

.cart-table-box .cart-table tbody tr td .remove span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--thm-border-color);
    border-radius: var(--thm-border-radius);
    color: var(--thm-body-font-color);
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
}

.cart-table-box .cart-table tbody tr td .remove:hover span {
    color: #ffffff;
}

.cart-table-box .cart-table tbody tr td .remove span::after {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    content: "";
    border-radius: var(--thm-border-radius);
    z-index: -1;
    transform: scale(0.0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    background: var(--thm-primary-color);
}

.cart-table-box .cart-table tbody tr td .remove:hover span::after {
    transform: scaleX(1.0);
}



.cart-button-box {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart-button-box .apply-coupon {
    position: relative;
    display: block;
}

.cart-button-box .apply-coupon .inner {
    position: relative;
    display: block;
    padding-left: 270px;
}

.cart-button-box .apply-coupon input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 60px;
    border: 1px solid var(--thm-border-color);
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
    border-radius: var(--thm-border-radius);
    font-family: var(--thm-font);
}

.cart-button-box .apply-coupon input[type="text"]:focus {
    border: 1px solid #222222
}

.cart-button-box .apply-coupon .apply-coupon-button {
    position: relative;
    display: block;
    margin-left: 20px;
}

.cart-button-box .apply-coupon .apply-coupon-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--thm-black);
}

.cart-button-box .apply-coupon .apply-coupon-button button:hover {
    color: #ffffff;
}

.cart-button-box .apply-coupon .apply-coupon-button button:after {
    background-color: var(--thm-gray-bg);
}


.update-cart-btn-box {
    position: relative;
    display: flex;
    align-items: center;
}

.update-cart-btn-box button+button {
    margin-left: 20px;
}

.update-cart-btn-box button.black {
    color: #ffffff;
}

.update-cart-btn-box button.black:after {
    background-color: var(--thm-black);
}


.update-cart-btn-box button.black:before {
    background-color: var(--thm-primary-color);
}

.update-cart-btn-box button::after {
    background-color: var(--thm-secondary-color);
}






/*** 
==========================================
        Account Style1 Css Css
==========================================
***/
.account-style1 {
    background-color: var(--thm-white);
    padding: 113px 0 120px;
}

.login-form {
    position: relative;
    display: block;
}

.login-form .inner-title {
    position: relative;
    display: block;
    margin-top: -7px;
    padding-bottom: 30px;
}

.login-form .inner-title h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.login-form__inner {
    position: relative;
    display: block;
    border-radius: 4px;
    background-color: var(--thm-gray-bg);
    padding: 34px 40px 40px;
}

.login-form .input-field {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.login-form .input-field label {
    position: relative;
    display: block;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-family: var(--thm-font-2);
    margin-bottom: 12px;
}

.login-form .input-field input[type="text"] {
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 4px;
    background-color: var(--thm-white);
    border: none;
    color: var(--thm-gray);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--thm-font-2);
    transition: all 500ms ease 0s;
}

.login-form__inner .checked-box1 {
    padding-top: 0;
}

.login-form__inner .checked-box1 label {
    font-size: 15px;
    line-height: 25px;
}

.login-form__inner .checked-box1 input[type="checkbox"]+label span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #d5d7de;
}

.login-form__inner .checked-box1 label span:before {
    border-radius: 2px;
    margin: 3px auto 0px;
}

.login-form__inner .checked-box1 input[type="checkbox"]:checked+label span {
    border-color: #d5d7de;
}

.login-form__inner .checked-box1 input[type="checkbox"]:checked+label span:before {
    transform: scale(1.0);
}

.login-form .btn-box {
    position: relative;
    display: block;
    line-height: 0;
    margin-top: 22px;
}

.login-form .btn-box .btn-one {
    width: 100%;
    justify-content: center;
}


.login-form .forgot-password {
    position: relative;
    display: block;
    margin-top: 17px;
}

.login-form .forgot-password a {
    position: relative;
    display: inline-block;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-family: var(--thm-font-2);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.login-form .forgot-password a:hover {
    color: var(--thm-primary-color);
}

.login-form .forgot-password a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: var(--thm-primary-color);
}

.register-form {
    position: relative;
    display: block;
}

.register-form .inner-title {
    position: relative;
    display: block;
    margin-top: -7px;
    padding-bottom: 30px;
}

.register-form .inner-title h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.register-form__inner {
    position: relative;
    display: block;
    border: 1px solid #e3e4ea;
    padding: 33px 40px 40px;
    border-radius: 4px;
}

.register-form__inner-content {
    position: relative;
    display: block;
}

.register-form__inner-content .input-field {
    position: relative;
    display: block;
    margin-bottom: 12px;
}

.register-form__inner-content .input-field label {
    position: relative;
    display: block;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-family: var(--thm-font-2);
    margin-bottom: 12px;
}

.register-form__inner-content .input-field input[type="text"] {
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    border: 1px solid #eff0f5;
    background-color: #eff0f5;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--thm-font-2);
    border-radius: 4px;
    transition: all 700ms ease 0s;
}

.register-form__inner-content .btn-box {
    position: relative;
    display: block;
    line-height: 0;
    margin-top: 22px;
}

.register-form__inner-content .btn-box .btn-one {
    width: 100%;
    justify-content: center;
}

.register-form__inner-content .btn-box .btn-one::before {
    background-color: var(--thm-primary-color);
}

.register-form__inner-content .btn-box .btn-one::after {
    background-color: var(--thm-black);
}


.register-form__inner-content .checked-box2 {
    margin-top: 20px;
}




/*** 
=============================================
    Checkout Area Css
=============================================
***/
.checkout-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 120px 0px 120px;
}

.checkout_inner-box {
    position: relative;
    display: block;
}

.checkout-form {
    position: relative;
    display: block;
    padding: 60px 60px 50px;
    border-radius: 4px;
    background: var(--thm-white);
    border: 1px solid #e5e5e5;
}

.checkout-form-box1 {
    position: relative;
    display: block;
    padding-bottom: 50px;
}

.shop-page-title {
    margin-top: -7px;
    padding-bottom: 30px;
}

.shop-page-title h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.checkout-form .field-input {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.checkout-form .field-input input[type="text"],
.checkout-form .field-input input[type="email"],
.checkout-form .field-input input[type="tel"] {
    position: relative;
    display: block;
    background: var(--thm-gray-bg);
    border: 1px solid var(--thm-gray-bg);
    width: 100%;
    height: 55px;
    border-radius: 4px;
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    font-family: var(--thm-font);
    transition: all 500ms ease;
}

.checkout-form .field-input input[type="text"]:focus,
.checkout-form .field-input input[type="email"]:focus,
.checkout-form .field-input input[type="tel"]:focus {
    border-color: var(--thm-primary-color);
}

.checkout-form .field-input .nice-select {
    position: relative;
    display: block;
    background: var(--thm-gray-bg);
    width: 100%;
    height: 55px;
    border: 1px solid var(--thm-gray-bg);
    border-radius: 4px;
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 53px;
    font-family: var(--thm-font);
    padding-left: 20px;
    padding-right: 30px;
    transition: all 500ms ease;
}

.checkout-form .field-input .nice-select:focus {
    border-color: var(--thm-primary-color);
}


.checkout-form .field-input .nice-select:after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #757575;
    border-right: 2px solid #757575;
    right: 28px;
    margin-top: 0px;
    top: 21px;
    z-index: 10;
}




.payment-info {
    position: relative;
    display: block;
    padding-top: 120px;
}

.payment-info .accordion-box .block {
    background: var(--thm-white);
    box-shadow: none;
    margin-bottom: 20px;
}

.payment-info .accordion-box .block .acc-btn {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: var(--thm-white);
    padding: 15px 30px 15px 30px;
}

.payment-info .accordion-box .block .acc-btn.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.payment-info .accordion-box .block .acc-btn h3 {
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.payment-info .accordion-box .block .acc-btn.active h3 {
    color: var(--thm-black);
}

.payment-info .accordion-box .block .acc-btn .icon-outer {
    position: absolute;
    top: 50%;
    left: auto;
    right: 20px;
    width: 20px;
    height: 20px;
    color: #a0a3b1;
    font-size: 24px;
    text-align: right;
    line-height: 20px;
    transform: translateY(-50%) rotate(90deg);
}

.payment-info .accordion-box .block .acc-btn.active .icon-outer {
    color: var(--thm-primary-color);
    transform: translateY(-50%) rotate(90deg);
}

.payment-info .accordion-box .block .acc-btn.active .icon-outer i:before {
    content: "\e95b";
}



.payment-info .accordion-box .block .acc-content {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.payment-input-box {
    position: relative;
    display: block;
    border-radius: 4px;
    background: var(--thm-gray-bg);
    padding: 30px 30px 10px;
}

.payment-input-box .row {
    margin-left: -10px;
    margin-right: -10px;
}

.payment-input-box .row [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
}

.payment-input-box .input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.payment-input-box .input-box input[type="text"],
.payment-input-box .input-box input[type="email"],
.payment-input-box .input-box input[type="tel"] {
    position: relative;
    display: block;
    background: var(--thm-white);
    width: 100%;
    height: 55px;
    border: 0px solid transparent;
    border-radius: 4px;
    color: var(--thm-body-font-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--thm-font);
    margin-bottom: 20px;
    padding: 0 20px;
    transition: all 500ms ease;
}

.payment-input-box .button-box {
    position: relative;
    display: block;
}

.payment-input-box .button-box button {
    display: block;
    width: 100%;
    line-height: 35px;
    text-align: center;
}

.payment-input-box .button-box button {
    color: #ffffff;
}

.payment-input-box .button-box button::after {
    background-color: var(--thm-secondary-color);
}


/** Product Details Info Box **/
.product-details-info-box {
    position: relative;
    display: block;
    padding: 33px 30px 40px;
    border-radius: 4px;
    border: 1px solid #e3e4ea;
}

.product-details-info-box__inner {
    position: relative;
    display: block;
}

.product-details-info-box .product-name {
    position: relative;
    display: block;
}

.product-name .product-name_list {
    position: relative;
    display: block;
    border-bottom: 1px solid #e3e4ea;
    margin-bottom: 23px;
    padding-bottom: 25px;
}

.product-name .product-name_list h4 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.product-name .product-name_list p {
    color: var(--thm-primary-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-family: var(--thm-font-2);
}

.product-details-info-box .value-info {
    position: relative;
    display: block;
    margin-bottom: 23px;
    padding-bottom: 23px;
}

.product-details-info-box .value-info::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -1px;
    height: 1px;
    background-color: #e2e2e2;
    left: 0;
}

.product-details-info-box .value-info li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-details-info-box .value-info li+li {
    margin-top: 10px;
}

.product-details-info-box .value-info li h5 {
    color: var(--thm-black);
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    font-family: var(--thm-font);
}

.product-details-info-box .value-info li p {
    margin: 0;
}

.product-details-info-box .total-value-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-details-info-box .total-value-box h3 {
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 600;
}

.product-details-info-box .total-value-box h4 {
    color: var(--thm-primary-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.product-details-info-box .button-box {
    position: relative;
    display: inline-block;
    margin-top: 24px;
}

.product-details-info-box .button-box .btn-one {
    padding: 0px 30px;
    line-height: 55px;
}

.product-details-info-box .button-box .btn-one::after {
    background-color: var(--thm-secondary-color);
}



/*** 
=============================
    Product Details Css
=============================
***/
.product-details {
    position: relative;
    display: block;
    padding: 120px 0 0px;
    z-index: 10;
}

.product-details__img {
    position: relative;
    display: block;
    margin-right: 30px;
}

.product-details__img-inner {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.product-details__img-inner img {
    width: 100%;
}

.product-details__img-inner .overlay-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.product-details__img-inner .overlay-icon a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--thm-black);
    width: 50px;
    height: 50px;
    background: var(--thm-white);
    border-radius: var(--thm-border-radius);
}

.product-details__img-inner .overlay-icon a:hover {
    background: var(--thm-primary-color);
    color: var(--thm-white);
}

.product-details__img-inner .overlay-icon a span {
    position: relative;
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
}



.product-details__content {
    position: relative;
    display: block;
}

.product-details__title {
    position: relative;
    display: block;
    margin-top: -6px;
    margin-bottom: 14px;
}

.product-details__title h6 {
    color: #a0a3b1;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-details__title h2 {
    color: #0c0c0c;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    margin-top: 5px;
}

.product-details__value {
    position: relative;
    display: block;
    margin-bottom: 22px;
}

.product-details__value h3 {
    color: var(--thm-primary-color);
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.product-details__value del {
    color: #a0a3b1;
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}


.product-details__text {
    position: relative;
    display: block;
}

.product-details__text p {
    margin: 0;
}

.product-details__product-info {
    position: relative;
    display: block;
    margin-top: 26px;
    padding-bottom: 33px;
    border-bottom: 1px solid #e3e4ea;
}

.product-details__product-info ul {
    position: relative;
    display: block;
}

.product-details__product-info ul li {
    position: relative;
    display: block;
    padding-left: 150px;
    margin-bottom: 11px;
}

.product-details__product-info ul li:last-child {
    margin-bottom: 0;
}

.product-details__product-info ul li .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.product-details__product-info ul li .title h5 {
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-details__product-info ul li span {
    position: relative;
    display: inline-block;
    color: var(--thm-black);
}

.product-details__product-info ul li p {
    margin: 0px;
}


.product-quantity-box-outer {
    position: relative;
    display: block;
}

.product-quantity-box {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.product-quantity-box .input-group.bootstrap-touchspin {
    position: relative;
    width: 105px;
    height: 60px;
    border: 1px solid var(--thm-border-color);
    border-radius: var(--thm-border-radius);
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.product-quantity-box input.quantity-spinner.form-control {
    position: relative;
    padding: 0;
    width: 40px;
    height: 60px;
    color: var(--thm-black);
    font-size: 20px;
    font-weight: 400;
    border: 0px solid #e2e2e2;
    outline: none;
    margin: 0;
    text-align: center;
    font-family: var(--thm-font);
    background: transparent;
    flex: none;
    text-align: right;
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical .btn {
    position: relative;
    display: block;
    margin-left: 0px;
    background: transparent;
    border: 0px solid #e2e2e2;
    color: var(--thm-gray);
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    position: absolute;
    top: 4px;
    right: 15px;
    border-radius: 0;
    transform: rotate(-90deg);
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical .btn.bootstrap-touchspin-up:before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: 'icomoon' !important;
    content: "\e95b";
    color: var(--thm-gray);
    font-size: 25px;
    padding: 0;
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    position: absolute;
    bottom: 4px;
    right: 16px;
    transform: rotate(90deg);
}

.product-quantity-box .bootstrap-touchspin .input-group-btn-vertical .btn.bootstrap-touchspin-down:before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: 'icomoon' !important;
    content: "\e95b";
    color: var(--thm-gray);
    font-size: 25px;
    padding: 0;
}

.product-quantity-box .right {
    position: relative;
    display: block;
    padding-left: 20px;
}

.product-quantity-box .right .cart-box {
    position: relative;
    display: block;
}

.product-quantity-box .right .cart-box .btn-one::after {
    background-color: var(--thm-secondary-color);
}

.product-wishlist-btn {
    position: relative;
    display: block;
    margin-top: 35px;
}

.product-wishlist-btn a {
    position: relative;
    display: inline-block;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    font-family: var(--thm-font-2);
}

.product-wishlist-btn a span {
    position: relative;
    display: inline-block;
    color: var(--thm-primary-color);
    font-size: 18px;
    line-height: 18px;
    top: 2px;
    padding-right: 8px;
}

.product-wishlist-btn a:hover {
    color: var(--thm-primary-color);
}

.product-description-box {
    position: relative;
    display: block;
    margin-top: 68px;
}

.product-description-box .inner-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.product-description-box .inner-title h3 {
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
}

.product-description-box p {
    margin: 0;
}

.product-description-box p+p {
    margin-top: 16px;
}

.product-description-box ul {
    position: relative;
    display: block;
    margin-top: 26px;
}

.product-description-box ul li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.product-description-box ul li:last-child {
    margin-bottom: 0;
}

.product-description-box ul li .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-right: 25px;
}

.product-description-box ul li .title h5 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-description-box ul li .title span {
    color: var(--thm-black);
}

.product-description-box ul li p {
    margin: 0;
}






.product-reviews-box {
    position: relative;
    display: block;
    margin-top: 63px;
}

.product-reviews-box .title-box {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.product-reviews-box .title-box h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-reviews-box ul {
    position: relative;
    display: block;
}

.product-reviews-box ul li {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--thm-border-color);
    padding-bottom: 21px;
    margin-bottom: 27px;
}

.product-reviews-box ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}


.product-reviews-box ul li .inner {
    position: relative;
    display: block;
    padding-left: 100px;
}

.product-reviews-box ul li .inner .img-box {
    position: absolute;
    top: 8px;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.product-reviews-box ul li .inner .img-box img {
    width: 100%;
}

.product-reviews-box ul li .inner .content-box {
    position: relative;
    display: block;
}

.product-reviews-box ul li .inner .content-box h3 {
    color: #070f64;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 9px;
}

.product-reviews-box ul li .inner .content-box h3 span {
    color: var(--thm-primary-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--thm-font);
}

.product-reviews-box ul li .inner .content-box p {
    margin: 0;
}











.product-form-box {
    position: relative;
    display: block;
    border: 1px solid #e3e4ea;
    border-radius: 4px;
    padding: 40px 30px 50px;
    margin-top: 73px;
}

.product-form-box .title-box {
    position: relative;
    display: block;
    margin-bottom: 33px;
}

.product-form-box .title-box h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.product-form-box .title-box p {
    margin: 0;
}

.product-form-box .title-box p span {
    color: var(--thm-primary-color);
}

.product-form-box form {
    position: relative;
    display: block;
}

.product-form-box form .input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.product-form-box form .input-box input[type="text"],
.product-form-box form .input-box input[type="email"],
.product-form-box form .input-box textarea {
    position: relative;
    display: block;
    background: transparent;
    border: 1px solid #e5e5eb;
    width: 100%;
    height: 55px;
    color: #a0a3b1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    transition: all 500ms ease;
    font-family: var(--thm-font);
}

.product-form-box form .input-box input[type="text"]:focus,
.product-form-box form .input-box input[type="email"]:focus,
.product-form-box form .input-box textarea:focus {
    border: 1px solid var(--thm-primary-color);
    outline: none;
}

.product-form-box form .input-box textarea {
    height: 120px;
    padding: 14px 20px 10px;
}

.product-form-box form .input-box input[type="text"]::-webkit-input-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="text"]:-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="text"]::-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="text"]:-ms-input-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="email"]::-webkit-input-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="email"]:-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="email"]::-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box input[type="email"]:-ms-input-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box textarea::-webkit-input-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box textarea:-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box textarea::-moz-placeholder {
    color: #a0a3b1;
}

.product-form-box form .input-box textarea:-ms-input-placeholder {
    color: #a0a3b1;
}


.product-form-box-checkbox {
    position: relative;
    display: block;
    margin-top: -7px;
}

.product-form-box-checkbox .inner {
    position: relative;
    display: block;
}

.product-form-box-checkbox .inner label {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    margin-right: 0px;
    margin-bottom: 0;
    color: var(--thm-body-font-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--thm-font);
    cursor: pointer;
}

.product-form-box-checkbox .inner input[type="checkbox"] {
    display: none;
}

.product-form-box-checkbox .inner input[type="checkbox"]+label span {
    position: absolute;
    display: block;
    top: 7px;
    left: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid #e3dfe8;
    cursor: pointer;
    border-radius: 6px;
    transition: all 300ms ease;
}

.product-form-box-checkbox .inner label span:before {
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    content: "";
    background: var(--thm-primary-color);
    border-radius: 3px;
    transform: scale(0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.product-form-box-checkbox .inner input[type="checkbox"]:checked+label span {
    border-color: var(--thm-primary-color);
}

.product-form-box-checkbox .inner input[type="checkbox"]:checked+label span:before {
    transform: scale(1.0);
}

.product-form-box .button-box {
    position: relative;
    display: block;
    margin-top: 33px;
}

.product-form-box .button-box .btn-one {
    padding-left: 30px;
    padding-right: 30px;
}

.product-form-box .button-box .btn-one:after {
    background-color: var(--thm-secondary-color);
}



.shop-page-one--1 {
    padding: 63px 0px 90px;
}

.shop-page-one--1 .inner-title {
    position: relative;
    display: block;
    padding-bottom: 31px;
}

.shop-page-one--1 .inner-title h3 {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
}

.shop-page-one-single-inner.shop-page-one-single-inner--1:hover {
    transform: translateY(0px);
}