:root {
    --thm-primary-color: #f02129;
    --thm-primary-color-rgb:#468FFB;
    --thm-heading-font-color: #101015;
    --thm-black: #101015;
    --thm-black-bg: #101015;
    --thm-gray-bg: #f5f0f0;
    --thm-border-color: #eae4e4;
}